<html>
<title>Learning SQL in the context of Go, HTML/CSS, Bootstrap and Heroku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/main.css" />


<link rel="stylesheet"
      href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
            </li>
            <li>
                <a href="http://golang.org">
                    <span class="glyphicon glyphicon-user"></span> Official Web site of GO programming language</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-info-sign">
            </span> Getting Started Guides <span class="caret">
        </span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://golang.org">
                        Go programming Language</a>
                    </li>
                    <li><a href="https://www.w3.org/html/">
                        HTML</a>
                    </li>
                    <li><a href="https://www.w3.org/Style/CSS/">
                        CSS</a>
                    </li>
                    <li><a href="http://getbootstrap.com">
                        Bootstrap</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://www.w3schools.com/sql/default.asp">
                    <span class="glyphicon glyphicon-book"></span> SQL Tutorial</a>
            </li>
        </ul>
    </div>
</nav>


  <div class="jumbotron text-center">
      <div class="container">
          <a href="/" class="lang-logo">
              <img src="/static/lang-logo.png">
          </a>
          <h1>Nashville Chinese IT Group</h1>
          <p>大纳城IT群</p>
      </div>
  </div>



  <div class="container">
<div class="text-center" style="padding-bottom: 10px">
</div>

  <table class="table table-responsive table-striped
      table-bordered table-hover table-condensed">

      <thead>
      <tr >
          <th class="text-center">
              ISBN
          </th>
          <th class="text-center">
              Title
          </th>
          <th class="text-center">
              Author
          </th>
          <th class="text-center">
              Price
          </th>
          <th class="text-center">
              Actions
          </th>

      </tr>
      </thead>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href=
        "/public/Generational-Gaps.pptx">
            Generational-Gaps
        </a>
        </td>
    </tr>

      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href=
       "/public/大纳城IT群讲座_20171202.pdf">
          大纳城IT群讲座_20171202.pdf</a>
      </td>
  </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href=
           "/public/Intro-to-Go-Programming-Language.pptx">
              Intro-to-Go-Programming-Language.pptx</a>
          </td>
      </tr>
  </table>
</div>



</body>
</html>
